<%  const imageArray=new Array();
    const pdfArray=new Array();
    const docsArray=new Array();
    for (let file of ticket.attachments) {
        if (file.url.endsWith('.pdf')) {
            pdfArray.push(file);
        } else if (file.url.endsWith('.gif') || file.url.endsWith('.jpg') || file.url.endsWith('.jpeg') || file.url.endsWith('.png')) {
            imageArray.push(file);
        } else { 
            docsArray.push(file);
        } } %>

<% if (ticket.attachments.length > 0) { %>
<div class="row text-center justify-content-around mt-5 mb-5">
    <% if (imageArray.length > 0) { %>
    <div class="col-4">
        <button id="pictureButton" type="button"
            class="btn btn-secondary disabled">Images</button>
    </div>
    <% } %>
    <% if (pdfArray.length > 0) { %>
    <div class="col-4">
        <button id="pdfButton" type="button" class="btn btn-primary">PDFs</button>
    </div>
    <% } %>
    <% if (docsArray.length > 0) { %>
    <div class="col-4">
        <button id="docxButton" type="button"
            class="btn btn-primary">Other Documents</button>
    </div>
    <% } %>
</div>
<% } %>

    <div class="col-8 offset-2 mb-3">
        <div id="imageSection">
            <% if (imageArray.length> 0) { %>
                <div id="carouselPictures" class="carousel slide">
                    <div class="carousel-inner">
                        <% imageArray.forEach((img,i)=> { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                <img src="/attachments<%= img.url %>" class="d-block w-100 border border-dark border-5 rounded" alt="">
                            </div>
                            <% });%>
                    </div>
                    <% if (imageArray.length > 1) { %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
                </div>
                <% } %>
        </div>




        <div id="pdfSection" class="d-none">
            <% if (pdfArray.length> 0) { %>
                <div>
                    <select id="pdfTable" class="form-select mb-3">
                        <% pdfArray.forEach((pdf,i) => { %>
                          <option value="<%= i %>"> <%= pdf.originalName %> </option>
                     <% }) %>
                    </select>
                    <% pdfArray.forEach((pdf,i) => { %>
                        <div class="text-center embeddedPDF">
                            <embed id="pdfWindow<%=i%>" class="rounded d-none" src="/attachments<%=pdfArray[i].url%>" width="800px" height="1000px" />
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>
        
        
        
        <div id="docsSection" class="d-none">
            <% if (docsArray.length> 0) { %>
                <div class="list-group">
                    <% docsArray.forEach((doc,i) => { %>
                        <a download="<%=doc.originalName  %>" href="/attachments<%= doc.url %>" class="list-group-item list-group-item-action attachLinks"> <%= doc.originalName %> </a>
                    <% }) %>
                </div>
             <% } %>
        </div>
    </div>

    <script src="/js/fileViewToggle.js"></script>