<link rel="stylesheet" href="/css/report.css">
<div class="container">
    <h1  class="text-center mb-3">
        <a class="text-dark" href="/tickets/<%=ticket._id%>">
            SWR <%= ticket.swrNum %>
        </a>
    </h1>
    <hr>
    <!-- date -->
    <div class="mb-2">
        <strong>Date Created:</strong>
        <%= ticket.dateSubmitted.toISOString().substring(0,10) %>
    </div>

    <!-- originator -->
    <div class="mb-2">
        <strong>Originator:</strong>
        <%= ticket.originator %>
    </div>

    <% if (ticket.status !== 'Deferred') {%>
        <!-- status -->
        <div class="mb-2">
            <strong>Status:</strong>
            <%= ticket.status %>
        </div>
    <% } else { %>
        <div class="row mb-2">
            <!-- status -->
            <div class="col justify-content-left">
                <strong>Status:</strong>
                <%= ticket.status %>
            </div>

            <!-- Cory's ID -->
            <div class="col justify-content-left">
                <strong>Corys ID:</strong>
                <%= ticket.deferredID %>
            </div>
        </div>

    <% } %>

    <div class="row justify-content-between mb-2">
        <!-- Training Impacted -->
        <div class="col text-center">
            <strong>Training Impacted:</strong>
            <%= ticket.impactedTraining %>
        </div>
        <!-- Priority Level -->
        <div class="col text-center">
            <strong>Priority Level:</strong>
            <%= ticket.priority %>
        </div>
        <!-- System -->
        <div class="col text-center">
            <strong>System:</strong>
            <%= ticket.system %>
        </div>
    </div>

    <hr>

    <!-- Title -->
    <div class="mb-2">
        <strong>Title:</strong>
        <%= ticket.title %>
    </div>

    <!-- Description -->
    <div class="mb-2">
        <strong>Description:</strong>
        <p id="description"><%= ticket.description %></p>
    </div>
    <!-- Attachments -->
    <div id="attachmentSection">
        <strong>Attachments:</strong>
        <div>
            <% for (let attachment of ticket.attachments) { %>
                <a download="<%=attachment.originalName%>" href="/attachments<%= attachment.url %>" target="_blank">
                    <%= attachment.originalName %>
                </a>
                <br>
                <% } %>
        </div>
    </div>
    <hr>
    <div class="row justify-content-between mb-2">
        <!-- Assigned To -->
        <div class="col justify-content-left">
            <strong>Assigned To:</strong>
            <%= ticket.assignedTo %>
        </div>

        <!-- Captured -->
        <div class="col text-center captured">

        </div>
    </div>

    <!-- Work Performed -->
    <div class="mb-2">
        <strong>Work Performed:</strong>
        <p id="workPerformed"> <%= ticket.workPerformed %></p>
    </div>

    <hr>

    <!-- Validated By -->
    <div class="mb-2">
        <strong>Validated By</strong>: <%= ticket.validatedBy %>
    </div>

    <!-- Date Closed -->
    <div class="mb-2">
        <strong>Date Closed:</strong>
        <% if (ticket.dateClosed) { %>
            <%= ticket.dateClosed.toISOString().substring(0,10) %>
                <% } %>
    </div>
</div>


<div style="page-break-after: always;"></div>