<% layout('layouts/boilerplate') %>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Update Ticket <%= ticket.swrNum %>
        </h1>

        <form class="p-3" action="/tickets/<%= ticket._id %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="swrNum" class="form-label">SWR Number</label>
                <input type="text" class="form-control" name="swrNum" id="swrNum" value="<%= ticket.swrNum %>" required>
            </div>

            <div class="mb-3">
                <label for="originator" class="form-label">Name</label>
                <input type="text" list="originators" class="form-control" name="originator" id="originator"
                    value="<%= ticket.originator %>" required>
                <datalist id="originators">
                    <% const names=new Set(); for (let ticket of tickets) { %>
                        <% if (!names.has(ticket.originator)) { names.add(ticket.originator); %>
                            <option value="<%= ticket.originator %>"><%= ticket.originator %></option>
                            <% } %>
                                <% } %>
                </datalist>
            </div>

            <div class="mb-3">
                <label for="dateSubmitted" class="form-label">Date</label>
                <input type="date" class="form-control" name="dateSubmitted" id="dateSubmitted"
                    value="<%= ticket.dateSubmitted.toISOString().substring(0,10) %>" required>
            </div>

            <div class="row mb-3">
                <div class="col-sm-6">
                    <label class="form-label">Problem Captured:</label>
                    <div class="form-check">
                        <input <% if (ticket.captured==='SavedIC#' ) { %> checked <% } %> class="form-check-input"
                            type="radio"
                            name="captured" id="savedIC" value="SavedIC#" required>
                            <label class="form-check-label" for="savedIC">Saved IC#</label>
                    </div>
                    <div class="form-check">
                        <input <% if (ticket.captured==='Snapped' ) { %> checked <% } %> class="form-check-input"
                            type="radio"
                            name="captured" id="snapped" value="Snapped" required>
                            <label class="form-check-label" for="snapped">Snapped</label>
                    </div>
                    <div class="form-check">
                        <input <% if (ticket.captured==='Not Captured' ) { %> checked <% } %> class="form-check-input"
                            type="radio" name="captured" id="notCaptured" value="Not Captured" required>
                            <label class="form-check-label" for="notCaptured">Not Captured</label>
                    </div>
                </div>

                <div id="capturedSlotInput"
                    class="col-sm-6 <% if (ticket.captured === 'Not Captured') { %> d-none <% } %>">
                    <label class="form-label" for="capturedSlot">Captured Slot:</label>
                    <input max="350" min="0" type="number" class="form-control" id="capturedSlot" name="capturedSlot"
                        value="<%= ticket.capturedSlot %>">
                </div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= ticket.title %>" required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description"
                    rows="3"><%= ticket.description %></textarea>
            </div>

            <div class="mb-3">
                <label for="impactedTraining" class="form-label">Training Impacted</label>
                <select name="impactedTraining" id="impactedTraining" class="form-select">
                    <option value="Yes" <%=ticket.impactedTraining==='Yes' ? 'selected' : '' %>>Yes</option>
                    <option value="No" <%=ticket.impactedTraining==='No' ? 'selected' : '' %>>No</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="priority" class="form-label">
                    Priority Level <span style=":hover {cursor: pointer;}" type="button" class="bold" data-bs-toggle="modal"
                    data-bs-target="#infoButton">&#9432</span>
                </label>
                <select id="priority" name="priority" class="form-select">
                    <option value="1" <%=ticket.priority===1 ? 'selected' : '' %>>1</option>
                    <option value="2" <%=ticket.priority===2 ? 'selected' : '' %>>2</option>
                    <option value="3" <%=ticket.priority===3 ? 'selected' : '' %>>3</option>
                    <option value="4" <%=ticket.priority===4 ? 'selected' : '' %>>4</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="system" class="form-label">System</label>
                <select name="system" id="system" class="form-select">
                    <option value="Hardware" <%=ticket.system==='Hardware' ? 'selected' : '' %>>Hardware</option>
                    <option value="Software" <%=ticket.system==='Software' ? 'selected' : '' %>>Software</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="assignedTo" class="form-label">Assigned To</label>
                <input list="assignees" type="text" class="form-control" name="assignedTo" id="assignedTo"
                    value="<%= ticket.assignedTo %>">
                <datalist id="assignees">
                    <% const assignees=new Set(); for (let ticket of tickets) { %>
                        <% if (!assignees.has(ticket.assignedTo)) { assignees.add(ticket.assignedTo); %>
                            <option value="<%= ticket.assignedTo %>"><%= ticket.assignedTo %></option>
                            <% } %>
                                <% } %>
                </datalist>
            </div>

            <div class="row mb-3">
                <div id="statusChoices">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" name="status" class="form-select" onchange="toggleCompanyID()">
                        <option value="Unassigned" <%=ticket.status==='Unassigned' ? 'selected' : '' %>>Unassigned
                        </option>
                        <option value="In Progress" <%=ticket.status==='In Progress' ? 'selected' : '' %>>In Progress
                        </option>
                        <option value="Ready To Test" <%=ticket.status==='Ready To Test' ? 'selected' : '' %>>Ready To
                            Test</option>
                        <option value="Deferred" <%=ticket.status==='Deferred' ? 'selected' : '' %>>Deferred</option>
                        <option value="Closed" <%=ticket.status==='Closed' ? 'selected' : '' %>>Closed</option>
                    </select>
                </div>

                <div class="col-sm-6" id="companyIDField" style="display: none;">
                    <label for="deferredID" class="form-label">Coreys ID#</label>
                    <input type="text" class="form-control" name="deferredID" id="deferredID"
                        value="<%= ticket.deferredID %>">
                </div>
            </div>

            <div class="mb-3">
                <label for="workPerformed" class="form-label">Work Performed/Disposition</label>
                <textarea class="form-control" id="workPerformed" name="workPerformed"
                    rows="3"><%= ticket.workPerformed %></textarea>
            </div>

            <div class="mb-3">
                <label for="validatedBy" class="form-label">Validated By</label>
                <input list="validators" type="text" class="form-control" name="validatedBy" id="validatedBy"
                    value="<%= ticket.validatedBy %>">
                <datalist id="validators">
                    <% const validators=new Set(); for (let ticket of tickets) { %>
                        <% if (!validators.has(ticket.validatedBy)) { validators.add(ticket.validatedBy); %>
                            <option value="<%= ticket.validatedBy %>"><%= ticket.validatedBy %></option>
                            <% } %>
                                <% } %>
                </datalist>
            </div>

            <div class="mb-3">
                <label for="dateClosed" class="form-label">Date Closed</label>
                <input max="<%= new Date().toISOString().split('T')[0] %>" type="date" class="form-control"
                    name="dateClosed" id="dateClosed" <% if (ticket.dateClosed) { %> value="<%=
                    ticket.dateClosed.toISOString().substring(0,10) %>" <% } %>>
            </div>

            <div class="d-flex justify-content-between">
                <form action="/tickets/<%= ticket._id %>">
                    <button class="btn btn-light" type="submit">Cancel</button>
                </form>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>


     <!-- Modal -->
     <div class="modal fade" id="infoButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Priority Definitions</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-sm mt-4">
                        <p>
                            1: Critical to current training in development. Training cannot proceed without the problem being corrected. The initiator shall submit a condition report.
                        </p>
                        <p>
                            2: Training can be performed but may require instructor work around. If the condition is adverse to quality of the training being performed, the initiator shall submit a condition report.
                        </p>
                        <p>
                            3: Correct when work can be performed efficiently.
                        </p>
                        <p>
                            4: Pending Reference Unit change or enhancement request.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/editPage.js"></script>