<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/indexPage.css">

    <div class="container mt-5">
        <div class="row mb-2">
            <div class="col-4 my-auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Filter <img src="/images/svg/filter.svg" alt="trashcan" height="25" width="20" />
                </button>
            </div>

            <div class="col-4 text-center my-auto">
                <%= totalTickets %> Tickets Found
            </div>

            <div class="col-4 text-end my-auto">
                <label for="sort">Sort:  </label>
                <select name="sort" id="sort" class="form-control-sm">
                    <option value="swrHigh">SWRNum: High-Low</option>
                    <option value="swrLow">SWRNum: Low-High</option>
                    <option value="dateNew">Date: New-Old</option>
                    <option value="dateOld">Date: Old-New</option>
                    <option value="azName">Originator: A-Z</option>
                    <option value="zaName">Originator: Z-A</option>
                    <option value="p14">Priority: 1-4</option>
                    <option value="p41">Priority: 4-1</option>
                </select>
            </div>
        </div>


        <input id="searchBar" class="d-flex form-control form-control-lg me-2 mb-3 text-center" type="search"
            placeholder="Search Current Page" aria-label="Search">

        <table
            class="table table-bordered table-striped table-hover table-light border-dark align-middle table-responsive">
            <thead>
                <tr>
                    <th class="text-center" scope="col">SWR#</th>
                    <th class="text-center" scope="col">Date Submitted</th>
                    <th class="text-center" scope="col">Originator</th>
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col">System</th>
                    <th class="text-center" scope="col">Priority</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Date Closed</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < tickets.length; ++i) { %>
                    <tr class='trow clickable-row' data-href='/tickets/<%= tickets[i]._id %>'>
                        <td class="text-center">
                            <a href="/tickets/<%= tickets[i]._id %>">
                                <b>
                                    <%= tickets[i].swrNum %>
                                </b>
                            </a>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].dateSubmitted.toLocaleDateString() %>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].originator %>
                        </td>
                        <td class="text-center text-break">
                            <%= tickets[i].title %>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].system %>
                        </td>
                        <td class="text-center priority">
                            <%= tickets[i].priority %>
                        </td>
                        <td class="text-center status">
                            <%= tickets[i].status %>
                        </td>
                        <td class="text-center">
                            <% if (tickets[i].dateClosed) { %>
                                <%= tickets[i].dateClosed.toLocaleDateString() %>
                                    <% } %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <% if (currentPage> 1) { %>
                <a href="/tickets?page=<%= currentPage - 1 %><%= queryString %>" class="btn btn-primary">Previous</a>
                <% } else { %>
                    <span class="btn btn-secondary disabled">Previous</span>
                    <% } %>

                        <% if (currentPage < totalPages) { %>
                            <a href="/tickets?page=<%= currentPage + 1 %><%= queryString %>"
                                class="btn btn-primary">Next</a>
                            <% } else { %>
                                <span class="btn btn-secondary disabled">Next</span>
                                <% } %>
        </div>
    </div>
    <%- include('../partials/modals/filter') %>

    <script src="/js/search.js"></script>
    <script src="/js/indexStyles.js"></script>
    <script src="/js/sortSelect.js"></script>
    <script src="/js/filterMemory.js"></script>