<% layout('layouts/boilerplate') %>

    <style>
        @media print {
            #searchBar {
                display: none;
            }

            #sort {
                display: none;
            }

            #filter {
                display: none;
            }

            label {
                display: none;
            }

            input {
                display: none !important;
            }
        }
    </style>

    <div class="container mt-5">
        <div class="mb-3">
            <div class="d-inline">
                <label for="filter">Filter</label>
                <select class="form-control-sm" name="filter" id="filter">
                    <option value="All">All</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Software">Software</option>
                </select>
            </div>
            <div class="d-inline">
                <label for="sort">Sort</label>
                <select name="sort" id="sort" class="form-control-sm">
                    <option value="swrHigh">SWRNum: High-Low</option>
                    <option value="swrLow">SWRNum: Low-High</option>
                    <option value="dateNew">Date: New-Old</option>
                    <option value="dateOld">Date: Old-New</option>
                    <option value="azName">Name: A-Z</option>
                    <option value="zaName">Name: Z-A</option>
                    <option value="p14">Priority: 1-4</option>
                    <option value="p41">Priority: 4-1</option>

                </select>
            </div>
        </div>


        <input id="searchBar" class=" d-flex form-control form-control-lg me-2 mb-3 text-center" type="search"
            placeholder="Search" aria-label="Search">

        <table
            class="table table-bordered table-striped table-hover table-light border-dark align-middle table-responsive">
            <thead>
                <tr>
                    <th class="text-center" scope="col">SWR#</th>
                    <th class="text-center" scope="col">Date Submitted</th>
                    <th class="text-center" scope="col">Originator</th>
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col">System</th>
                    <th class="text-center" scope="col">Priority</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Date Completed</th>
                </tr>
            </thead>
            <tbody>
                <% let i=0 + buffer; %>
                    <% for (let i=0; i < tickets.length;++i) { %>

                        <tr class="trow">
                            <td class="text-center">
                                <a href="/tickets/<%= tickets[i]._id %>">
                                    <b>
                                        <%= tickets[i].swrNum %>
                                    </b>
                                </a>
                            <td class="text-center">
                                <%= tickets[i].dateSubmitted.toISOString().substring(0,10) %>
                            </td>
                            <td class="text-center">
                                <%= tickets[i].originator %>
                            </td>
                            <td class="text-center">
                                <%= tickets[i].title %>
                            </td>
                            <td class="text-center">
                                <%= tickets[i].system %>
                            </td>
                            <td class="text-center priority">
                                <%= tickets[i].priority %>
                            </td>
                            <td class="text-center status">
                                <%= tickets[i].status %>
                            </td>
                            <td class="text-center">
                                <% if (tickets[i].dateClosed) { %>
                                    <%= tickets[i].dateClosed.toISOString().substring(0,10) %>
                                        <% } %>
                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>

    <script src="/js/search.js"></script>
    <script src="/js/indexStyles.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const filterMenu = document.querySelector('#filter');
            const sortMenu = document.querySelector('#sort');

            // Get URL parameters
            const urlParams = new URLSearchParams(window.location.search);
            const systemFilter = urlParams.get('system') || 'All';
            const sortFilter = urlParams.get('sort');

            // Set the filter menu to the selected value
            filterMenu.value = systemFilter.charAt(0).toUpperCase() + systemFilter.slice(1);
            if (sortFilter) {
                sortMenu.value = sortFilter;
            }

            filterMenu.addEventListener('change', function () {
                const filter = filterMenu.value;
                const url = window.location.href;

                const sortStart = url.indexOf("sort=");
                const sortEnd = url.indexOf("&", sortStart);

                let newURL = '/tickets';
                if (filter !== 'All') {
                    url += `?system=${filter}&`;
                }
                window.location.href = url;
            });

            sortMenu.addEventListener('change', function () {
                const sort = sortMenu.value;
                let url = window.location.href;
                const sortStart = url.indexOf("&sort=");
                const sortEnd = url.indexOf("&", sortStart + 1);
                let newURL;
                if (sortStart !== -1 && sortEnd !== -1) {
                    newURL = url.substring(0, sortStart); + url.substring(sortEnd, sortEnd) + `&sort=${sort}`;
                } else if (sortStart !== -1) {
                    newURL = url.substring(0, sortStart) + `&sort=${sort}`;
                } else {
                    newURL = url + `?&sort=${sort}`;
                }
                window.location.href = newURL;

            });
        });
    </script>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>