<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/indexPage.css">

    <div class="container mt-5">
        <div class="d-flex justify-content-between mb-4 mb-3">
            <div class="">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Filter <img
                    src="/svg/filter.svg"
                    alt="trashcan"
                    height="25"
                    width="20" />
                </button>
            </div>
            <div class="">
                <label for="sort">Sort</label>
                <select name="sort" id="sort" class="form-control-sm">
                    <option value="swrHigh">SWRNum: High-Low</option>
                    <option value="swrLow">SWRNum: Low-High</option>
                    <option value="dateNew">Date: New-Old</option>
                    <option value="dateOld">Date: Old-New</option>
                    <option value="azName">Name: A-Z</option>
                    <option value="zaName">Name: Z-A</option>
                    <option value="p14">Priority: 1-4</option>
                    <option value="p41">Priority: 4-1</option>
                </select>
            </div>
        </div>

        <input id="searchBar" class="d-flex form-control form-control-lg me-2 mb-3 text-center" type="search"
            placeholder="Search Current Page" aria-label="Search">

        <table
            class="table table-bordered table-striped table-hover table-light border-dark align-middle table-responsive">
            <thead>
                <tr>
                    <th class="text-center" scope="col">SWR#</th>
                    <th class="text-center" scope="col">Date Submitted</th>
                    <th class="text-center" scope="col">Originator</th>
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col">System</th>
                    <th class="text-center" scope="col">Priority</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Date Completed</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < tickets.length; ++i) { %>
                    <tr class='trow clickable-row' data-href='/tickets/<%= tickets[i]._id %>'>
                        <td class="text-center">
                            <a href="/tickets/<%= tickets[i]._id %>">
                                <b>
                                    <%= tickets[i].swrNum %>
                                </b>
                            </a>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].dateSubmitted.toISOString().substring(0, 10) %>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].originator %>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].title %>
                        </td>
                        <td class="text-center">
                            <%= tickets[i].system %>
                        </td>
                        <td class="text-center priority">
                            <%= tickets[i].priority %>
                        </td>
                        <td class="text-center status">
                            <%= tickets[i].status %>
                        </td>
                        <td class="text-center">
                            <% if (tickets[i].dateClosed) { %>
                                <%= tickets[i].dateClosed.toISOString().substring(0, 10) %>
                                    <% } %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <% if (currentPage> 1) { %>
                <a href="/tickets?page=<%= currentPage - 1 %><%= queryString %>" class="btn btn-primary">Previous</a>
                <% } else { %>
                    <span class="btn btn-secondary disabled">Previous</span>
                    <% } %>

                        <% if (currentPage < totalPages) { %>
                            <a href="/tickets?page=<%= currentPage + 1 %><%= queryString %>"
                                class="btn btn-primary">Next</a>
                            <% } else { %>
                                <span class="btn btn-secondary disabled">Next</span>
                                <% } %>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Filter Results</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <style>
                        .form-label {
                            font-weight: bold;
                            font-size: 16px;
                        }
                    </style>

                    <div class="container-sm mt-4">
                        <div class="mb-1">
                            <h1 class="text-center">Filter Results</h1>
                            <div class="text-end">
                                <button id="resetButton" class="btn btn-warning">Reset</button>
                            </div>
                        </div>

                        <form id="formFilter" action="/tickets">
                            <%- include('../partials/filter') %>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="formFilter" type="submit" class="btn btn-primary">Save Filters</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/search.js"></script>
    <script src="/js/indexStyles.js"></script>
    <script src="/js/sortSelect.js"></script>
    <script src="/js/filterMemory.js"></script>