<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/newPage.css">
    <div class="container-sm mt-5">
        <h1 class="text-center">Submit Ticket</h1>

        <form class="p-3 validated-form" action="/tickets" method="POST" enctype="multipart/form-data" novalidate>

            <div class="mb-3">
                <label for="originator" class="form-label">Originator:</label>
                <input class="form-control" type="text" list="originators" name="originator" id="originator" placeholder="John Smith" required>
                <datalist id="originators">
                    <% const names=new Set(); for (let ticket of tickets) { %>
                        <%if (!names.has(ticket.originator)) { names.add(ticket.originator);%>
                            <option value="<%=ticket.originator%>">
                                <%=ticket.originator%>
                            </option>
                            <% }} %>
                </datalist>
            </div>



            <div class="mb-3">
                <label for="dateSubmitted" class="form-label">Date:</label>
                <input type="date" max="<%= new Date().toISOString().split('T')[0]  %>"
                    value="<%= new Date().toISOString().split('T')[0]  %>" class="form-control" id="dateSubmitted"
                    name="dateSubmitted" required>
            </div>

            <div class="row mb-3">
                <div class="col-sm-6">
                    <label class="form-label">Problem Captured:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="captured" id="savedIC" value="SavedIC#"
                            required>
                        <label class="form-check-label" for="savedIC">
                            Saved IC#
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="captured" id="snapped" value="Snapped"
                            required>
                        <label class="form-check-label" for="snapped">
                            Snapped
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="captured" id="notCaptured"
                            value="Not Captured" required>
                        <label class="form-check-label" for="notCaptured">
                            Not Captured
                        </label>
                    </div>
                </div>

                <div id="capturedSlotInput" class="col-sm-6 d-none">
                    <label class="form-label" for="capturedSlot">Captured Slot:</label>
                    <input type="number" class="form-control" id="capturedSlot" name="capturedSlot" max="350" min="0">
                    <div id="slotInvalidFeedback" class="invalid-feedback"></div>
                </div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" maxlength="100" required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea placeholder="Do Not Submit Exam Security Info" class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="attachments" class="form-label">Attachments:</label>
                <input type="file" class="form-control" name="attachments" id="attachments" accept="image/*,.pdf,.docx,.xlsx,.xls,.doc,.sch,.tis,.evt,.csv,.html,.txt" multiple> 
            </div>

            <div class="mb-3">
                <label for="impactedTraining" class="form-label">Training Impacted?</label>
                <select class="form-select" name="impactedTraining" id="impactedTraining" required>
                    <option selected value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>



            <div class="mb-3">
                <label for="priority" class="form-label">
                    Priority Level <span style=":hover {cursor: pointer;}" type="button" class="bold" data-bs-toggle="modal"
                    data-bs-target="#infoButton">&#9432</span>
                </label>
                <select class="form-select" id="priority" name="priority" required>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    
                    
                    
                </select>
            </div>


            <div class="mb-3">
                <label for="system" class="form-label">System:</label>
                <select class="form-select" name="system" id="system" required>
                    <option value="Hardware">Hardware</option>
                    <option value="Software">Software</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary d-block mx-auto" style="width: 200px;">Submit</button>
        </form>
    </div>

    <%- include('../partials/modals/priorityDefinitions') %>


    <script src="/js/newPage.js"></script>