<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/printReport.css">
    
    <div class="container mt-5">
        <div class="row justify-content-between align-items-center">

            <div class="col-auto">
                <a id="backButton" class="btn btn-primary">Back</a>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" id="printButton">Print <img src="/images/svg/printer.svg" alt="printer"
                        height="25" width="20" /></button>
            </div>
        </div>
    </div>

    <% if (includeIndex === 'Yes') { %>
        <h3 class="text-center">SWR Index</h3> 
        <div id="indexTable">
            <div class="row">
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    SWR
                </div>
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    Submitted
                </div>
                <div class="col-print-2 border border-2 text-break text-center fw-bold">
                    Originator
                </div>
                <div class="col-print-3 border border-2 text-break text-center fw-bold">
                    Title
                </div>
                <div class="col-print-1 border border-2 text-break text-center fw-bold">
                    Priority
                </div>
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    Status
                </div>
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    Closed
                </div>
            </div>
            <div class="row tableRows">
                <% for (let ticket of tickets) { %>
                    <div class="col-print-1half border text-break text-center">
                        <%= ticket.swrNum %>
                    </div>
                    <div class="col-print-1half border text-break text-center">
                        <%= ticket.dateSubmitted.toLocaleDateString() %>
                    </div>
                    <div class="col-print-2 border text-break text-center">
                        <%= ticket.originator %>
                    </div>
                    <div class="col-print-3 border text-break text-center">
                        <%= ticket.title %>
                    </div>
                    <div class="col-print-1 border text-break text-center">
                        <%= ticket.priority %>
                    </div>
                    <div class="col-print-1half border text-break text-center">
                        <%= ticket.status %>
                    </div>
                    <div class="col-print-1half border text-break text-center">
                        <% if (ticket.dateClosed) { %>
                        <%= ticket.dateClosed.toLocaleDateString() %>
                        <% } %>
                    </div>
                    <% } %>
            </div>
        </div>
    <% } %>

    
    <% for (let ticket of tickets) { %>
        <%- include('../partials/report', {ticket:ticket}) %>
    <% } %>

    
    <script>
        function jsonEscape(str)  {
            return str.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t");
        }
        const tickets = JSON.parse(jsonEscape('<%- JSON.stringify(tickets)%>'));
    </script>
    <script src="/js/printReportPage.js"></script>