<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/printReport.css">
    
    <div class="container mt-5">
        <div class="row justify-content-between align-items-center">

            <div class="col-auto">
                <a id="backButton" class="btn btn-primary">Back</a>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" id="printButton">Print <img src="/images/svg/printer.svg" alt="printer"
                        height="25" width="20" /></button>
            </div>
        </div>
    </div>

    <% if (includeIndex === 'Yes') { %>
        <h3 class="text-center">SWR Index</h3> 
        <div id="indexTable">
            <div class="row">
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    SWR
                </div>
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    Submitted
                </div>
                <div class="col-print-2 border border-2 text-break text-center fw-bold">
                    Originator
                </div>
                <div class="col-print-3 border border-2 text-break text-center fw-bold">
                    Title
                </div>
                <div class="col-print-1 border border-2 text-break text-center fw-bold">
                    Priority
                </div>
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    Status
                </div>
                <div class="col-print-1half border border-2 text-break text-center fw-bold">
                    Closed
                </div>
            </div>
            <div class="row tableRows">
                <% for (let ticket of tickets) { %>
                    <div class="col-print-1half border text-break text-center">
                        <%= ticket.swrNum %>
                    </div>
                    <div class="col-print-1half border text-break text-center">
                        <%= ticket.dateSubmitted.toISOString().substring(0,10) %>
                    </div>
                    <div class="col-print-2 border text-break text-center">
                        <%= ticket.originator %>
                    </div>
                    <div class="col-print-3 border text-break text-center">
                        <%= ticket.title %>
                    </div>
                    <div class="col-print-1 border text-break text-center">
                        <%= ticket.priority %>
                    </div>
                    <div class="col-print-1half border text-break text-center">
                        <%= ticket.status %>
                    </div>
                    <div class="col-print-1half border text-break text-center">
                        <% if (ticket.dateClosed) { %>
                        <%= ticket.dateClosed.toISOString().substring(0,10) %>
                        <% } %>
                    </div>
                    <% } %>
            </div>
        </div>
    <% } %>

    
    <% for (let ticket of tickets) { %>
    <div class="container">
            <h1 class="text-center mb-3">
                SWR <%= ticket.swrNum %>
            </h1>
            <hr>
            <!-- date -->
            <div class="mb-2">
                <strong>Date Created:</strong>
                <%= ticket.dateSubmitted.toISOString().substring(0,10) %>
            </div>

            <!-- originator -->
            <div class="mb-2">
                <strong>Originator:</strong>
                <%= ticket.originator %>
            </div>

            <% if (ticket.status !== 'Deferred') {%>
                <!-- status -->
                <div class="mb-2">
                    <strong>Status:</strong>
                    <%= ticket.status %>
                </div>
            <% } else { %>
                <div class="row mb-2">
                    <!-- status -->
                    <div class="col justify-content-left">
                        <strong>Status:</strong>
                        <%= ticket.status %>
                    </div>
    
                    <!-- Cory's ID -->
                    <div class="col justify-content-left">
                        <strong>Corys ID:</strong>
                        <%= ticket.deferredID %>
                    </div>
                </div>

            <% } %>

            <div class="row justify-content-between mb-2">
                <!-- Training Impacted -->
                <div class="col text-center">
                    <strong>Training Impacted:</strong>
                    <%= ticket.impactedTraining %>
                </div>
                <!-- Priority Level -->
                <div class="col text-center">
                    <strong>Priority Level:</strong>
                    <%= ticket.priority %>
                </div>
                <!-- System -->
                <div class="col text-center">
                    <strong>System:</strong>
                    <%= ticket.system %>
                </div>
            </div>

            <hr>

            <!-- Title -->
            <div class="mb-2">
                <strong>Title:</strong>
                <%= ticket.title %>
            </div>

            <!-- Description -->
            <div class="mb-2">
                <strong>Description:</strong>
                <div>
                    <%= ticket.description %>
                </div>
            </div>
            <!-- Attachments -->
            <div>
                <strong>Attachments:</strong>
                <div>
                    <% for (let attachment of ticket.attachments) { %>
                        <a download="<%=attachment.originalName%>" href="/attachments<%= attachment.url %>" target="_blank">
                            <%= attachment.originalName %>
                        </a>
                        <br>
                        <% } %>
                </div>
            </div>
            <hr>
            <div class="row justify-content-between mb-2">
                <!-- Assigned To -->
                <div class="col justify-content-left">
                    <strong>Assigned To:</strong>
                    <%= ticket.assignedTo %>
                </div>

                <!-- Captured -->
                <div class="col text-center captured">

                </div>
            </div>

            <!-- Work Performed -->
            <div class="mb-2">
                <strong>Work Performed:</strong>
                <div>
                    <%= ticket.workPerformed %>
                </div>
            </div>

            <hr>

            <!-- Validated By -->
            <div class="mb-2">
                <strong>Validated By</strong>: <%= ticket.validatedBy %>
            </div>

            <!-- Date Closed -->
            <div class="mb-2">
                <strong>Date Closed:</strong>
                <% if (ticket.dateClosed) { %>
                    <%= ticket.dateClosed.toISOString().substring(0,10) %>
                        <% } %>
            </div>
    </div>


    <div style="page-break-after: always;"></div>

    <% } %>

        <script>const tickets = JSON.parse('<%- JSON.stringify(tickets) %>');</script>
        <script src="/js/printReportPage.js"></script>