<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/showPage.css">

<div class="container mt-5">
    <div id="editDeleteButtons" class="d-flex justify-content-between mb">
        <div>
            <% if (!success.length) { %>
            <button id="backButton" class="btn btn-primary d-inline">
                Back
            </button>
            <% } %>
            <form  action="/tickets/<%=ticket._id%>/edit" class="me-2 d-inline">
               <button class="btn btn-success">Edit</button>
            </form>
        </div>

        <div class="ms-2">
            <button class="btn btn-success" id="printButton">Print <img src="/images/svg/printer.svg" alt="printer"
                height="25" width="20" /></button>
        </div>

        
    </div>
</div>

            <%- include('../partials/report') %>

            <form action="/tickets/<%=ticket._id%>?_method=DELETE" method="POST" class="container mt-3 text-end" id="deleteForm">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                    <img src="/images/svg/trash.svg" alt="trashcan" height="25" width="20" />
                </button>
            </form>

            <%- include('../partials/fileView') %>


    <div class="ticketID" hidden>
        <%= ticket._id %>
    </div>

    <%- include('../partials/modals/confirmDelete') %>

        <script>let ticket = '<%- JSON.stringify(ticket)%>';</script>
        <script src="/js/showPage.js"></script>

